workflow-test-codechat-wapi.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "5dfd3dcd-e805-4f73-a216-b3ec87663106",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        340
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f21c9cbb-f530-4172-988f-cdc315104fc3",
        "options": {}
      },
      "id": "5c8ffceb-3489-4624-bb27-a5c6e5843e87",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -380,
        680
      ],
      "webhookId": "f21c9cbb-f530-4172-988f-cdc315104fc3"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if(item.json.body?.data?.message) {\n    const keys = Object.keys(item.json.body?.data?.message);\n    let messagetype;\n    for (const k of keys) {\n      if(k !== 'messageContextInfo') {\n        messagetype = k;\n        break;\n      }\n    }\n\n    item.json.body.data.message['type'] = messagetype;\n  }\n}\n\nreturn $input.all();"
      },
      "id": "def1702f-311d-49cf-8a13-57afe4e315ec",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        0,
        680
      ]
    },
    {
      "parameters": {
        "content": "## CodeChat - WhatsApp Api \n**Api:** https://github.com/code-chat-br/whatsapp-api\n**node:** https://github.com/jrCleber/n8n-codechat-wapi#readme",
        "height": 109.53027243998983,
        "width": 610.3779366700719
      },
      "id": "6461f3f8-f95b-4fc3-8201-3e99f1a9403d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -20
      ]
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "textProperty": "={{ $json[\"textMessage\"][\"text\"] }}"
      },
      "id": "08c754d6-a67c-4c31-878d-aa47b4b9c8bd",
      "name": "Send Text",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        680
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "operation": "contactMessage",
        "contactsProperty": "={{ $json[\"contactMessage\"] }}"
      },
      "id": "630126e8-9eca-409b-8119-cf1f3730f61e",
      "name": "Send Contact",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        860
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "operation": "listMessage",
        "titleProperty": "={{ $json[\"listMessage\"][\"title\"] }}",
        "descriptionProperty": "={{ $json[\"listMessage\"][\"description\"] }}",
        "buttonTextProperty": "={{ $json[\"listMessage\"][\"buttonText\"] }}",
        "footerTextProperty": "={{ $json[\"listMessage\"][\"footerText\"] }}",
        "sectionProperty": "={{ $json[\"listMessage\"][\"sections\"] }}"
      },
      "id": "6ae8a8d8-bea8-4af6-ae6c-06f7fb697707",
      "name": "Send List",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        1040
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "operation": "locationMessage",
        "locationNameProperty": "={{ $json[\"locationMessage\"][\"name\"] }}",
        "addressProperty": "={{ $json[\"locationMessage\"][\"address\"] }}",
        "latitudeProperty": "={{ $json[\"locationMessage\"][\"latitude\"] }}",
        "longitudeProperty": "={{ $json[\"locationMessage\"][\"longitude\"] }}"
      },
      "id": "ea7a0821-99a9-43fd-a8c3-b4a799ac9e88",
      "name": "Send Location",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        1220
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "operation": "buttonMessage",
        "titleProperty": "={{ $json[\"buttonMessage\"][\"title\"] }}",
        "descriptionProperty": "={{ $json[\"buttonMessage\"][\"description\"] }}",
        "footerTextProperty": "={{ $json[\"buttonMessage\"][\"footerText\"] }}",
        "buttonsProperty": "={{ $json[\"buttonMessage\"][\"buttons\"] }}",
        "mediaMessageProperty": {
          "mediaProperty": {
            "fileNameProperty": "={{ $json[\"mediaMessage\"][\"fileName\"] }}",
            "mediaProperty": "={{ $json[\"mediaMessage\"][\"media\"] }}"
          }
        }
      },
      "id": "b63aab18-f5d9-4396-bd0c-cc64b3d800bb",
      "name": "Send Buttons",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        1400
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "operation": "mediaMessage",
        "fileNameProperty": "={{ $json[\"mediaMessage\"][\"fileName\"] }}",
        "caprionProperty": "={{ $json[\"mediaMessage\"][\"caption\"] }}",
        "mediaProperty": "={{ $json[\"mediaMessage\"][\"media\"] }}"
      },
      "id": "3cd0b9bd-e6cf-408c-be93-141487cdcf29",
      "name": "Send Media",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        500
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "number": "={{ $json[\"number\"] }}",
        "dalay": "={{ $json[\"options\"][\"delay\"] }}",
        "presence": "recording",
        "operation": "mediaMessage",
        "mediaType": "waAudio",
        "mediaProperty": "={{ $json[\"audioMessage\"][\"audio\"] }}"
      },
      "id": "582cb794-20c2-4152-87e6-a1dd313267ec",
      "name": "Send WhatsApp Audio",
      "type": "n8n-nodes-codechat-wapi.CodeChatApi",
      "typeVersion": 1,
      "position": [
        540,
        340
      ],
      "credentials": {
        "codeChatCredsApi": {
          "id": "3",
          "name": "CodeChat Creds"
        }
      }
    },
    {
      "parameters": {
        "content": "## Node Media\n\nRealiza o envio geral de mídias.\n\nFoi adicionado uma nova opção no **Media Type**: tipo **WhatsApp Audio**. Esse tipo simula a gravação do áudio no whatsapp.\n\n───────────────────────────────────────────────────────────────────────\n\nPerforms general media delivery.\n\nAdded a new option in **Media Type**: type **WhatsApp Audio**. This type simulates audio recording in whatsapp.",
        "height": 681.865313251202,
        "width": 388.96392822265625
      },
      "id": "17063614-5264-40b1-b998-fdeddc34a6f5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -23.328936298076997
      ]
    }
  ],
  "pinData": {
    "On clicking 'execute'": [
      {
        "json": {
          "number": "5531900000000",
          "options": {
            "delay": 1200,
            "presence": "unavailable | available | compising | recording | paused"
          },
          "textMessage": {
            "text": "ok"
          },
          "mediaMessage": {
            "mediatype": "image | document | video | audio",
            "fileName": "image.png",
            "caption": "Description",
            "media": "https://www.moongiant.com/monthlycombined/images/october-fb.jpg"
          },
          "buttonMessage": {
            "title": "Tutle Button",
            "description": "Description Button",
            "footerText": "Footer Button",
            "buttons": [
              {
                "buttonText": "Click here 1",
                "buttonId": "1"
              },
              {
                "buttonText": "Click here 2",
                "buttonId": "2"
              }
            ]
          },
          "locationMessage": {
            "name": "Moeda - MG",
            "address": "🗺️ Moeda 🗺️",
            "latitude": -20.32568196333534,
            "longitude": -44.016271276581236
          },
          "listMessage": {
            "title": "List Title",
            "description": "List description",
            "buttonText": "Click Here",
            "footerText": "footer list\nhttps://examplelink.com.br",
            "sections": [
              {
                "title": "Row tilte 01",
                "rows": [
                  {
                    "title": "Title row 01",
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
                    "rowId": "rowId 001"
                  },
                  {
                    "title": "Title row 02",
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
                    "rowId": "rowId 002"
                  }
                ]
              },
              {
                "title": "Row tilte 02",
                "rows": [
                  {
                    "title": "Title row 01",
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
                    "rowId": "rowId 001"
                  },
                  {
                    "title": "Title row 02",
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,",
                    "rowId": "rowId 002"
                  }
                ]
              }
            ]
          },
          "contactMessage": [
            {
              "fullName": "Contact Name 1",
              "wuid": "553198882221",
              "phoneNumber": "+55 31 9 8888-2221"
            },
            {
              "fullName": "Contact Name 2",
              "wuid": "5531988882222",
              "phoneNumber": "+55 31 9 8888-2222"
            },
            {
              "fullName": "Contact Name 3",
              "wuid": "5531988882223",
              "phoneNumber": "+55 31 9 8888-2223"
            }
          ],
          "audioMessage": {
            "audio": "https://lp.naturefarm.site/wp-content/uploads/2023/01/WhatsApp-Ptt-2022-12-05-at-13.00.53.ogg"
          }
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Send Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send List",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Location",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Buttons",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send WhatsApp Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "189b75eb-9344-4f07-9d79-ef3528d23708",
  "id": "3",
  "meta": {
    "instanceId": "1f3206de3ac125461e5202511c6317795b5b895d73aa227072a470c030cd2159"
  },
  "tags": [
    {
      "createdAt": "2022-12-09T22:13:44.901Z",
      "updatedAt": "2022-12-09T22:13:44.901Z",
      "id": "1",
      "name": "send message"
    }
  ]
}